{
    "id":"wsu_vvo",
    "description":"WSU VVO Application app",
    "creator":"WSU",
    "inputs":[],
    "outputs":[],
    "options": ["(simulationId)","'(request)'"],
    "type":"PYTHON",
    "execution_path": "python /usr/src/gridappsd-vvo/wsu_vvo/main.py",
    "launch_on_startup":false,
    "prereqs":["gridappsd-voltage-violation","gridappsd-alarms"],
    "multiple_instances":true
}
